<footer>
  <p style="margin: 0;">&copy; 2024 All Rights Reserved. Created By ESPRIT.</p>

  <div style="display: flex; align-items: center; gap: 15px;">
    <p style="margin: 0;">Contactez-nous:</p>
    <a href="https://www.facebook.com/esprit.tn" target="_blank" style="text-decoration: none;">
      <img src="assets/images/facebook-icon.png" alt="Facebook" style="width: 20px; height: 20px;  filter: invert()">
    </a>
    <a href="https://twitter.com/Esprit_News" target="_blank" style="text-decoration: none;">
      <img src="assets/images/twitter-icon.png" alt="Twitter" style="width: 20px; height: 20px; filter: invert()">
    </a>
    <a href="https://www.linkedin.com/company/esprit_2" target="_blank" style="text-decoration: none;">
      <img src="assets/images/linkedin-icon.png" alt="LinkedIn" style="width: 20px; height: 20px;  filter: invert()">
    </a>
  </div>
</footer>
