<div class="login-container">

    <form class="login-form" action="sign-in.php" method="post"> <!-- Changement de 'login.php' à 'sign-in.php' -->
        <h2>Inscription</h2>
        <div class="input-group">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
        </div>
        <div class="input-group">
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" required>
        </div>
        <div class="input-group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="mail">Email :</label>
            <input type="email" id="mail" name="mail" required>
        </div>
        <div class="input-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button href="main.html" type="submit" name="submit">S'inscrire</button>
    </form>
</div>
    