<app-header></app-header>
<div style="display: flex">
  <app-left-side-bar></app-left-side-bar>
  <div class="appointment-container" style="width: 100%">
    <form (ngSubmit)="createAppointment()" class="appointment-form" [formGroup]="appointmentForm">
      <h2 class="form-title">Prise de rendez-vous</h2>

      <!-- Classe Input -->
      <div class="form-group" *ngIf="userRole == 'STUDENT'">
        <label for="grade">Classe</label>
        <input type="text" id="grade" name="grade" formControlName="grade" required/>
      </div>

      <!-- Type de rendez-vous Select -->
      <div class="form-group">
        <label for="type">Type de rendez-vous</label>
        <select id="type" name="type" formControlName="occupation" required>
          <option value="" disabled selected>Choisir un type</option>
          <option value="DOCTOR">Médecin</option>
          <option value="NURSE">Infirmier</option>
        </select>
      </div>

      <!-- Date Input -->
      <div class="form-group">
        <label for="date">Choisir une date</label>
        <input type="date" id="date" name="date" formControlName="date" [min]="todayDate"/>
      </div>

      <!-- Text Input -->
      <div class="form-group">
        <label for="notes">Décrire votre état :</label>
        <textarea id="notes" name="notes" formControlName="notes"></textarea>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn">Prendre rendez-vous</button>
    </form>
  </div>

</div>
<app-footer></app-footer>
