<app-header></app-header>
<div style="display: flex">
  <app-left-side-bar></app-left-side-bar>
  <div class="medicine-container" style="width: 100%">
    <form (ngSubmit)="addMedicine()" class="medicine-form" [formGroup]="medicineForm">
      <h2 class="form-title">Demander médicine</h2>

      <div class="form-group">
        <label for="name">Nom commercial</label>
        <input type="text" id="name" name="name" formControlName="name"/>
      </div>

      <div class="form-group">
        <label for="quantity">Quantité</label>
        <input type="number" id="quantity" name="quantity" formControlName="quantity"/>
      </div>

      <div class="form-group">
        <label for="description">Description :</label>
        <textarea id="description" name="description" formControlName="description"></textarea>
      </div>

      <button type="submit" class="btn">Prendre rendez-vous</button>
    </form>
  </div>

</div>
<app-footer></app-footer>
