
.body-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 90vh;
  background-image: url("/assets/images/background.jpeg");
  background-size: cover;
  padding-right: 20%;
}


.welcome-message {
  position: absolute;
  left: 20px;
  top: 35%;
  transform: translateY(-50%);
}

.welcome-message h3 {
  margin-left: 15px;
  font-weight: bold;
  color: #fff;
  font-size: 40px;
}

.welcome-message h2 {
  margin-top: 120px;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}


