header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background: linear-gradient(to bottom, #4d0000, #B72126); /* Gradient from red to burgundy */
  border-bottom: 1px solid #8B0000; /* Match the darker color for the border */
}

.logo img {
  height: 50px;
}

.navigation {
  display: flex;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #000000;
}

header .navigation {
  z-index: 10;
  position: relative;
}
