::ng-deep .fc {
  font-family: Arial, sans-serif;
  font-size: 12px; /* Reduce font size for smaller cells */
}

::ng-deep .fc-daygrid-day {
  border: 1px solid #ddd;
  height: 50px; /* Set cell height */
  min-width: 50px; /* Set cell width */
  padding: 2px; /* Reduce padding inside cells */
}

::ng-deep .fc-daygrid-day.fc-day-today {
  background-color: #913838;
  color: #4d0000;
}

::ng-deep .fc-event {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px; /* Smaller text for events */
}

::ng-deep .fc-event:hover {
  background-color: #0056b3;
}

::ng-deep .fc-day-sun {
  background-color: #f8f9fa;
}

::ng-deep .fc-daygrid-event {
  margin: 1px 0; /* Reduce spacing between events */
}
::ng-deep .fc-event {
  cursor: pointer; /* Pointer cursor for clickable events */
  transition: all 0.2s ease-in-out; /* Optional: Add a smooth transition for hover effects */
}

